<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink=".">Danh mục</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Xác nhận đơn kho</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 *ngIf="status == 1" style="text-align: center">
          Xác nhận nhập kho
        </h2>
        <h2 *ngIf="status != 1" style="text-align: center">
          Chi tiết đơn nhập kho
        </h2>
        <h6 class="card-title">Thông tin cơ bản</h6>
        <div *ngIf="isLoading" class="loadingcustomcss">
          <button class="btn btn-primary" type="button" disabled>
            <span
              class="spinner-grow spinner-grow-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </button>
        </div>
        <form
          class="forms-sample"
          [formGroup]="storageConfirmForm"
          *ngIf="!isLoading"
          (ngSubmit)="onSubmit()"
        >
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">
              Mã đơn
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              formControlName="inventory_transaction_id"
              autocomplete="off"
              placeholder="Nhập mã đơn"
              [readonly]="true"
            />
            <!-- <div *ngIf="storageImport.controls.name.invalid && storageImport.controls.name.touched"
              class="alert alert-danger mt-2">
              Không để trống tên chi nhánh
            </div> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">
              Lý do nhập
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              formControlName="reason"
              autocomplete="off"
              placeholder="Nhập lý do nhập"
              [readonly]="true"
            />
            <!-- <div *ngIf="storageImport.controls.name.invalid && storageImport.controls.name.touched"
              class="alert alert-danger mt-2">
              Không để trống tên chi nhánh
            </div> -->
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
              Ghi chú
            </label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              formControlName="note"
              rows="5"
              [readonly]="true"
            ></textarea>
          </div>

          <br />
          <h6 class="card-title">Nhà cung cấp</h6>
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">
              Chọn nhà cung cấp
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              formControlName="partner_name"
              autocomplete="off"
              [readonly]="true"
            />
          </div>

          <br />
          <h6 class="card-title">Danh sách sản phẩm</h6>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">
                  Chi nhánh
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputUsername1"
                  formControlName="inventory_name"
                  autocomplete="off"
                  [readonly]="true"
                />
              </div>
            </div>
            <!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">
                  Kho
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputUsername1"
                  formControlName="inventory_name"
                  autocomplete="off"
                  [readonly]="true"
                />
              </div>
            </div>
            <!-- Col -->
          </div>
          <div class="mb-3">
            <div class="card">
              <div class="card-body">
                <!-- <h6 class="card-title">Hoverable Table</h6> -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Phiên bản sản phẩm</th>
                        <th>Giá nhập</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="listStorage && listStorage.length">
                        <tr *ngFor="let value of listStorage; let i = index">
                          <th>{{ i + 1 }}</th>
                          <td>{{ value.variation_name }}</td>
                          <td>
                            <!-- <input
                              type="text"
                              formControlName="price"

                              [readonly]="true"
                              class="form-control"
                              id="exampleInputText1"
                            /> -->
                            <p>
                              {{
                                listStorage[i].price
                                  | currency : "VNĐ" : "symbol" : "1.0-0"
                              }}
                            </p>
                          </td>
                          <td>
                            <!-- <input
                              type="number"
                              formControlName="quantity"

                              [readonly]="true"
                              class="form-control"
                              id="exampleInputText1"
                            /> -->
                            <p>{{ listStorage[i].quantity }}</p>
                          </td>
                          <td >
                            {{
                              calculateTotal(
                                listStorage[i].price,
                                listStorage[i].quantity
                              ) | currency : "VNĐ" : "symbol" : "1.0-0"
                            }}
                          </td>
                          <th>
                            <!-- <button
                              (click)="removeProduct(i)"
                              class="btn btn-danger"
                            >
                              Xóa
                            </button> -->
                          </th>
                        </tr>
                        <tr>
                          <th style="color: red">TỔNG TIỀN</th>
                          <td colspan="5" style="text-align: right">
                            {{
                              calculateTotalPrice()
                                | currency : "VNĐ" : "symbol" : "1.0-0"
                            }}
                          </td>

                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button
            *ngIf="status === 1"
            type="submit"
            [disabled]="storageConfirmForm.invalid"
            class="btn btn-primary me-2"
          >
            Xác nhận
          </button>
          <button
            *ngIf="status === 1"
            type="button"
            (click)="cancel()"
            [disabled]="storageConfirmForm.invalid"
            class="btn btn-danger me-2"
          >
            Hủy đơn
          </button>

          <button
            *ngIf="status === 2"
            type="button"
            [disabled]="storageConfirmForm.invalid"
            class="btn btn-primary me-2"
          >
            In mã vạch
          </button>
          <button class="btn btn-secondary" routerLink="/storage/import/list">
            Trở về
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
