<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-6">
        <ng-select [searchable]="true" placeholder="Chọn Đơn Bán hàng">
          <ng-option *ngFor="let item of salesUnit" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>
      <div class="col-6">
        <ng-select [searchable]="true" placeholder="Chi nhánh">
          <ng-option *ngFor="let item of salesUnit" [value]="item.id">{{item.name}}</ng-option>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-5 d-flex offset-md-7">
        <button type="button" class="btn btn-light">In Thử</button>
        <button type="button" class="btn btn-primary ms-2" routerLink="edit">Chỉnh Sửa</button>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Hiển thị trước giao diện mẫu in tại đây</h6>
      </div>
    </div>
  </div>

</div>
