<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Danh mục</a></li>
      <li class="breadcrumb-item active" aria-current="page">Thêm mới danh mục</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
  
          <h6 class="card-title">Thêm mới Danh mục</h6>
  
          <form class="forms-sample" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputUsername1" class="form-label">Tên Danh mục</label>
              <input type="text" class="form-control" id="exampleInputUsername1" formControlName="name" autocomplete="off" placeholder="Nhập tên danh mục">
              <div *ngIf="categoryForm.controls.name.invalid && categoryForm.controls.name.touched" class="alert alert-danger mt-2">
                Không để trống tên danh mục
              </div>
            </div>
            <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-primary me-2">Tạo mới</button>
            <button class="btn btn-secondary" routerLink="/categories/list">Trở về</button>
          </form>
        </div>
      </div>
    </div>
  </div>