<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Kết quả kinh doanh trong ngày</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
      <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
        <i data-feather="calendar" appFeatherIcon></i>
      </button>
      <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
    <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Print
    </button>
    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
      Download Report
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Doanh thu</h6>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-xl-8">
                <h5 class="mt-2"  >{{ totalToday  | currency: 'đ' }}</h5>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Đơn hàng hoàn thành</h6>
            
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mt-2">{{ totalBillToday }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Growth</h6>
           
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">89.87%</h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+2.8%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Doanh thu bán hàng</h6>
        
        </div>
        <div class="row align-items-start">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 d-flex justify-content-md-end">
            <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
              <button type="button" class="btn  {{ focusclick == 0 ? 'btn-primary' : 'btn-outline-primary' }}" (click)="getInfoClick(0)">Hôm nay</button>
              <button type="button" class="btn {{ focusclick == 1 ? 'btn-primary' : 'btn-outline-primary' }}" (click)="getInfoClick(1)">Hôm qua</button>
              <button type="button" class="btn {{ focusclick == 2 ? 'btn-primary' : 'btn-outline-primary' }}" (click)="getInfoClick(2)">7 Ngày trước</button>
              <button type="button" class="btn {{ focusclick == 3 ? 'btn-primary' : 'btn-outline-primary' }}" (click)="getInfoClick(3)">30 Ngày trước</button>
            </div>
          </div>
        </div>
        <div class="flot-wrapper">
          <canvas id="canvas">{{chart}}</canvas>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

