<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Kho & Tồn</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nhập kho</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Quản lí nhập kho</h6>
        <button routerLink="/storage/import/create" type="button" class="btn btn-primary">
          Thêm mới đơn nhập
        </button>
        <div class="table-responsive">
          <div *ngIf="isLoading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <table *ngIf="!isLoading" id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>MÃ ĐƠN</th>
                <th>NHÀ CUNG CẤP</th>
                <th>KHO NHẬN</th>
                <th>NGƯỜI TẠO</th>
                <th>TRẠNG THÁI ĐƠN</th>
                <th>THỜI GIAN TẠO</th>
                <th>THỜI GIAN CẬP NHẬT</th>
                <th>HÀNH ĐỘNG</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let value of listStorageImport | async">
                <td><a [routerLink]="['../detail', value.inventory_transaction_id]">{{ value.inventory_transaction_id }}</a></td>
                <td>{{ value.partner_name }}</td>
                <td>{{ value.inventory_name }}</td>
                <td style="text-align: center">{{ value.created_by }}</td>
                <td style="text-align: center">
                  <span class="badge {{
                      value.status === true ? 'bg-success' : 'bg-primary'
                    }}">{{
                    value.status === false ? "Chờ xác nhận" : "Hoàn thành"
                    }}</span>
                </td>
                <td>{{ value.created_at }}</td>
                <td>{{ value.updated_at }}</td>
                <td>
                  <a *ngIf="value.status === false" [routerLink]="['../detail', value.inventory_transaction_id]" class="btn btn-success mx-2">Chi tiết</a>
                  <!-- <button data-id="{{ value.id }}" class="btn btn-danger">
                    Chi tiết
                  </button> -->
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
