<h2 class="content-inner__body-title mb-4 text-center">Đăng nhập</h2>
<a routerLink="by-enterprise" type="button" class="btn btn-primary btn-in-login w-100 mb-3">
  <span>Bạn là chủ doanh nghiệp</span>
</a>
<a routerLink="by-staff" class="btn btn-primary btn-in-login w-100 mb-3">
  <span>Bạn là nhân viên</span>
</a>

<div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
  <hr class="w-100">

  <span>hoặc</span>

  <hr class="w-100">
</div>

<p class="content-inner__body-start f14 mt-4 mbHiden">
  Chưa có tài khoản?
  <a routerLink="/auth/register" class="link-primary-color">
    Bắt đầu ngay
  </a>
</p>
