.container-main {
  padding: 24px;
  max-height: 100vh;
  overflow-y: auto;
}

.content-inner__body-item {
  height: 62px;
  padding: 10px 16px;
  background: #fff;
  border: 0.5px solid #e6e6e6;
  border-radius: 8px;
  cursor: pointer;

}
