.navbar {
  width: 100%;
  left: 0;
  background-color: #2a3042;
  .search-form{
    margin-left: 0;
  }
  .btnTab:hover {
    transition: .2s ease-in-out;
    background: #f1f2f4;
  }

  .activeBtn {
    background: #f1f2f4;
  }
}

.btnTab {
  // background: #f1f2f4;
  background: #2a3042;
  color: #6a7187;
  border: none;
  padding: 0.5rem 1rem 0.8rem 1rem;
  margin-top: 5px;
  border-radius: 8px 8px 0 0;
  display: block;
  
}
