<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Quản lí sản phẩm</h6>
                <button routerLink="/products/create" type="button" class="btn btn-primary">Thêm mới</button>
                <div *ngIf="isLoading" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                <div *ngIf="!isLoading" class="table-responsive">
                    <table id="dataTableExamples"  class="table">
                        <thead>
                            <tr>
                                <!-- <th data-sortable="false">
                                    <input type="checkbox" class="form-check-input" id="checkChecked">
                                  </th> -->
                                <th>Mã sản phẩm</th>
                                <!-- <th>Hình ảnh</th> -->
                                <th>Sản phẩm</th>
                                <th>Danh mục</th>
                                <th>Số phiên bản</th>
                                <th>Ngày tạo</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cate of ListsProducts | async">
                                <!-- <td>
                                    <input type="checkbox" class="form-check-input" id="checkChecked">
                                  </td> -->
                                <td>{{ cate.variations[0].sku }}</td>
                                <!-- <td>{{ cate.image == null  ? "Chưa có ảnh" : cate.image }}</td> -->
                                <td>{{ cate.name }}</td>
                                <td>{{ cate.manage_type == 0 ? "Mặc định" : 'Theo lô/HSD' }}</td>
                                <td>{{ cate.variations.length }}</td>
                                <td>{{ cate.created_at }}</td>
                                <td>
                                    <a [routerLink]="['../edit', cate.id]" class="btn btn-success mx-2">Sửa</a>
                                    <button data-id="{{cate.id}}" class="btn btn-danger">Xóa</button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
