<h2 class="content-inner__body-title mb-4 text-center">Đăng ký</h2>
<form class="forms-sample" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Họ tên</label>
    <input type="email" class="form-control" id="exampleInputName" placeholder="Họ tên"
           value="" formControlName="name">
    <div *ngIf="form.controls.name.invalid && form.controls.name.touched"
         class="alert alert-danger mt-2">
      Không để trống họ tên
    </div>
    <div *ngIf="errorMessages.name" class="alert alert-danger mt-2">
      {{ errorMessages.name }}
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
           value="" formControlName="email">
    <div *ngIf="form.controls.email.invalid && form.controls.email.touched"
         class="alert alert-danger mt-2">
      Không để trống email
    </div>
    <div *ngIf="errorMessages.email" class="alert alert-danger mt-2">
      {{ errorMessages.email }}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Mật khẩu</label>
    <input type="text" class="form-control"
           formControlName="password"
           placeholder="Mật khẩu" value="">
    <div *ngIf="form.controls.password.invalid && form.controls.password.touched"
         class="alert alert-danger mt-2">
      Không để trống mật khẩu
    </div>
    <div *ngIf="errorMessages.password" class="alert alert-danger mt-2">
      {{ errorMessages.password }}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Nhập lại mật khẩu</label>
    <input type="text" class="form-control"
           formControlName="confirm_password"
           placeholder="Nhập lại mật khẩu" value="">
    <div *ngIf="form.controls.confirm_password.invalid && form.controls.confirm_password.touched"
         class="alert alert-danger mt-2">
      Không để trống nhập lại mật khẩu
    </div>
    <div *ngIf="errorMessages.confirm_password" class="alert alert-danger mt-2">
      {{ errorMessages.confirm_password }}
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0"
            [disabled]="form.invalid">
      Đăng ký
    </button>
  </div>
</form>
<div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
  <hr class="w-100">

  <span>hoặc</span>

  <hr class="w-100">
</div>

<p class="content-inner__body-start f14 mt-4 mbHiden">
  Đã có tài khoản?
  <a routerLink="/auth/login" class="link-primary-color">
    Đăng nhập ngay
  </a>
</p>
