.card-body {
    .img-products {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        margin-right: 20px;
    }
    .item-name  {
        font-size: 0.8rem;
    }

    .price-name  {
        font-size: 0.7rem;
    }


}

.title-bill {
    color: #ccc;
}

.btn-icon-edit {
    outline: none;
}

.btn-icon-edit::placeholder {
    color: #ccc;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


// input[type='number'] {
//     -moz-appearance: textfield;
// }