<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink=".">Danh mục</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Thêm mới đơn kho</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 style="text-align: center">Tạo đơn nhập kho</h2>
        <h6 class="card-title">Thông tin cơ bản</h6>
        <form
          class="forms-sample"
          [formGroup]="storageImportForm"
          (ngSubmit)="onSubmit()"
        >
          <!-- <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">
              Mã đơn
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              formControlName="inventory_transaction_id"
              autocomplete="off"
              placeholder="Nhập mã đơn"
            />
            <div *ngIf="storageImport.controls.name.invalid && storageImport.controls.name.touched"
              class="alert alert-danger mt-2">
              Không để trống tên chi nhánh
            </div>
          </div> -->
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">
              Lý do nhập
              <span class="text-danger">(*)</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              formControlName="reason"
              autocomplete="off"
              placeholder="Nhập lý do nhập"
            />
            <!-- <div *ngIf="storageImport.controls.name.invalid && storageImport.controls.name.touched"
              class="alert alert-danger mt-2">
              Không để trống tên chi nhánh
            </div> -->
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
              Ghi chú
            </label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              formControlName="note"
              rows="5"
            ></textarea>
          </div>

          <br />
          <h6 class="card-title">Nhà cung cấp</h6>
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">
              Chọn nhà cung cấp
            </label>
            <ng-select
              [searchable]="true"
              formControlName="partner_id"
              placeholder="Chọn nhà cung cấp"
            >
              <ng-option *ngFor="let item of listSupplier" [value]="item.id">
                {{ item.name }}
              </ng-option>
            </ng-select>
          </div>

          <br />
          <h6 class="card-title">Danh sách sản phẩm</h6>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">
                  Chi nhánh
                </label>
                <ng-select [searchable]="true" placeholder="Chọn chi nhánh">
                  <ng-option
                    *ngFor="let item of listLocation"
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">
                  Kho
                </label>
                <ng-select [searchable]="true" placeholder="Chọn nhà kho">
                  <ng-option
                    *ngFor="let item of listLocation"
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <!-- Col -->
          </div>
          <div class="mb-3">
            <form (ngSubmit)="searchProduct()" [formGroup]="inputSerach">
              <ng-template #rt let-r="result" let-t="term">
                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="me-1" style="width: 16px"> -->
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
              </ng-template>

              <label for="typeahead-template" class="form-label"
                >Tìm kiếm phiên bản sản phẩm:</label
              >
              <input
                id="typeahead-template"
                type="text"
                class="form-control"
                [(ngModel)]="input"
                formControlName="input"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
              />
              <button type="submit" hidden>Tìm kiếm</button>
            </form>
          </div>
          <div class="mb-3">
            <div class="card">
              <div class="card-body">
                <!-- <h6 class="card-title">Hoverable Table</h6> -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Phiên bản sản phẩm</th>
                        <th>Giá nhập</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="products && products.length">
                        <tr *ngFor="let value of products; let i = index">
                          <th>{{ value.variation_id }}</th>
                          <td (click)="Edit(i)">{{ value.name }}</td>
                          <td *ngIf="i === editRowID">
                            <input
                              type="number"
                              formControlName="price"
                              [(ngModel)]="products[i].price"
                              class="form-control"
                              id="exampleInputText1"
                              placeholder="Nhập giá"
                            />
                          </td>
                          <td *ngIf="i !== editRowID" (click)="Edit(i)">
                            {{ value.price }}
                          </td>
                          <td *ngIf="i === editRowID">
                            <input
                              type="number"
                              formControlName="quantity"
                              [(ngModel)]="products[i].quantity"
                              class="form-control"
                              id="exampleInputText1"
                              placeholder="Nhập số lượng"
                            />
                          </td>
                          <td *ngIf="i !== editRowID" (click)="Edit(i)">
                            {{ value.quantity }}
                          </td>
                          <td>
                            {{
                              calculateTotal(
                                products[i].price,
                                products[i].quantity
                              ) | currency: 'VNĐ' :  "symbol" : "1.0-0"
                            }}
                          </td>
                          <th>
                            <button
                              (click)="removeProduct(i)"
                              class="btn btn-danger"
                            >
                              Xóa
                            </button>
                          </th>
                        </tr>
                        <tr>
                          <th style="color: red;">TỔNG TIỀN</th>
                          <td colspan="5" style="text-align: right;">{{calculateTotalPrice() | currency: 'VNĐ' : "symbol" : "1.0-0"}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="storageImportForm.invalid"
            class="btn btn-primary me-2"
          >
            Tạo mới
          </button>
          <button class="btn btn-secondary" routerLink="/storage/import/list">
            Trở về
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
