<div class="row g-0">
  <div class="col-lg-8 container-bg">
    <div
      class="bg-main"
      style="
          background: url(assets/images/bg/bg.249f901f.jpg) no-repeat;
          width: 100%;
          height: 100vh;
          background-size: cover;
      "
    ></div>
  </div>
  <div class="col-lg-4 container-main">
    <div class="container-main-content">
      <div class="content-inner">
        <div class="content-inner__header mb-4">
          <a href="" target="_blank">
            <img src="./assets/medias/logo-light.svg" alt="logo" class="w-25">
          </a>
        </div>
        <div class="content-inner__body">
          <router-outlet></router-outlet>
        </div>

        <!--        <div align="right" class="content-inner__footer f12"><span>Một sản phẩm của FullSnack</span>-->
        <!--          <p class="mb-0"> CSKH: <a href="tel:1900636956" class="content-inner__footer-mobile"> 1900.12.34.56 </a> - -->
        <!--            Email: <a href="" class="content-inner__footer-email"> hotro@full </a></p>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
