
  
  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
            <h6 class="card-title mb-0">DOANH THU THEO THỜI GIAN</h6>
          
          </div>
          <div class="row align-items-start">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 d-flex justify-content-md-end">
                <input type="date" [(ngModel)]="start_time" class="form-control">
                <input type="date" [(ngModel)]="end_time" class="form-control ms-2">
                <button class="btn btn-danger ms-4" (click)="searchDate()">Tìm kiếm</button>
            </div>
          </div>
          <div class="flot-wrapper">
            <canvas id="canvas">{{chart}}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->
  