<nav class="navbar top-navbar">
    <div class="container">
      <div class="navbar-content">
        <ul class=" d-flex justify-content-between align-items-center w-100 m-0" style="list-style: none;">
          <li class="nav-item" >
            <button type="button" class="btn btn-light" routerLink="print">Thoát</button>
          </li>
          <li class="nav-item" >
          <h1 class="fs-4">Tùy chỉnh mẫu in</h1>
          </li>
          <li class="nav-item" >
            <button type="button" class="btn btn-primary">Lưu</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>