    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Danh mục</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh mục quản lý</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
            <h6 class="card-title">Quản lí danh mục</h6>
            <button routerLink="/categories/create"  type="button" class="btn btn-primary">Thêm mới</button>
            <div class="table-responsive">
                <table id="dataTableExample" class="table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>TÊN DANH MỤC</th>
                    <th>THỜI GIAN TẠO</th>
                    <th>HÀNH ĐỘNG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cate of ListsCategories | async">
                    <td>{{ cate.id }}</td>
                    <td>{{ cate.name }}</td>
                    <td>{{ cate.created_at | date:'dd-MM-yyyy' }}
                    </td>
                    <td>
                        <a [routerLink]="['../edit', cate.id]" class="btn btn-success mx-2">Sửa</a>
                       <button  data-id="{{cate.id}}" class="btn btn-danger">Xóa</button>
                    </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    </tr>
                </tfoot>
                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
