<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Danh mục</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thêm mới đơn vị tính</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <h6 class="card-title">Thêm mới đơn vị tính</h6>

        <form class="forms-sample" [formGroup]="unitsForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">Tên đơn vị tính</label>
            <input type="text" class="form-control" id="exampleInputUsername1" formControlName="name" autocomplete="off"
              placeholder="Nhập tên đơn vị tính">

            <p class="text-danger mt-1" *ngIf="unitsForm.controls.name.invalid && unitsForm.controls.name.touched">Không
              để trống tên đơn vị tính</p>
          </div>
          <button type="submit" id="submitBtn" [disabled]="unitsForm.invalid" class="btn btn-primary me-2">Tạo mới</button>
          <button class="btn btn-secondary" routerLink="/item-units/list">Trở về</button>
        </form>
      </div>
    </div>
  </div>
</div>
