$font-family_1: Arial, sans-serif;

.bill-print-body {
	width: calc((210px / 25.4) * 72 * (4 / 3));
	margin: 0px auto;
	padding: 24px 0px;
	font-family: $font-family_1;
}
.bfs-s {
	font-size: 10px;
	line-height: 16px;
}
.bfs-m {
	font-size: 12px;
	line-height: 18px;
}
.bfs-l {
	font-size: 14px;
	line-height: 18px;
}
.bfs-x {
	font-size: 16px;
	line-height: 20px;
}
.bfs-xl {
	font-size: 18px;
	line-height: 24px;
}
.bfs-bold {
	font-weight: bold;
}
.bfs-italic {
	font-weight: italic;
}
.bta-default {
	text-align: center;
}
.bta-left {
	text-align: left;
}
.bta-right {
	text-align: right;
}
.bill-row {
	display: flex;
	flex-direction: row;
}
.bill-col-right-4 {
	flex: 4;
	text-align: right;
}
.bill-col-left-5 {
	flex: 5;
	text-align: left;
}
.bill-col-right-2 {
	flex: 2;
	text-align: right;
}
.bill-col-left-4 {
	flex: 4;
	text-align: left;
}
.bill-col-left-3 {
	flex: 3;
	text-align: left;
}
.bill-col-left-2 {
	flex: 2;
	text-align: left;
}
.bill-col-1 {
	flex: 1;
}
.bill-solid-line {
	height: 2px;
	border-top: 1px solid black;
	margin: 2px 0px 0px 0px;
}
.bill-dash-line {
	height: 2px;
	border-bottom: 1px dashed #7a7676;
	margin: 2px 0px 4px 0px;
}
.bfs-space-s {
	line-height: 0px;
	padding: 2px 0px;
}
.bfs-space-m {
	line-height: 0px;
	padding: 4px 0px;
}
.bfs-space-l {
	line-height: 0px;
	padding: 8px 0px;
}
.bfs-space-x {
	line-height: 0px;
	padding: 12px 0px;
}
.bfs-hide {
	display: none;
}
@media print {
	.bill-body {
		width: 100%;
		margin: 0px auto;
		padding: 24px 0px;
		font-family: $font-family_1;
	}
}
