<div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="font-weight-bold">THÔNG TIN DOANH NGHIỆP</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="/setting" target="_self" class="">Cấu hình</a></li>
                <li class="breadcrumb-item active"><span aria-current="location">Thông tin doanh nghiệp</span></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-12">
      <h5><b>Thông tin chung</b></h5>
      <p>Thông tin được sử dụng để NextGo và khách hàng liên hệ đến bạn</p>
    </div>
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12">
              <fieldset class="form-group"><!---->
                <div>
                  <label>Tên cửa hàng <sup class="text-danger"> * </sup></label>
                  <input type="text" placeholder="Nhập tên cửa hàng" class="form-control is-valid">
                  <div class="invalid-feedback"></div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div role="group" class="form-group">
                    <!---->
                    <div>
                      <label>Số điện thoại</label>
                      <input type="text" placeholder="Số điện thoại" class="form-control">
                      <!---->
                      <!---->
                      <!---->
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <div role="group" class="form-group">
                      <!---->
                      <div>
                        <label>Địa chỉ email</label>
                        <input
                          type="text"
                          disabled="disabled"
                          placeholder="Địa chỉ email" readonly="readonly"
                          class="form-control">
                        <!---->
                        <!---->
                        <!---->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12"></div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12">
                  <fieldset id="input-group-budiness" class="form-group">
                    <!---->
                    <div><label>Lĩnh vực kinh doanh</label>
                      <select name="" id="" class="form-select"></select>
                      <!---->
                      <!---->
                      <!---->
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6 col-12">
                  <fieldset id="input-group-type" class="form-group">
                    <!---->
                    <div><label>Loại doanh nghiệp</label>
                      <select name="" id="" class="form-select"></select>
                      <!---->
                      <!---->
                      <!---->
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-8 col-12"></div>
                <div class="col-md-4 col-12"></div>
                <div class="col-md-4 col-12"></div>
                <div class="col-md-8 col-12"></div>
                <div class="col-12"></div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <fieldset class="form-group">
                <!---->
                <div><span><label>Số đăng kí kinh doanh </label><input id="formrow-number-register-input" type="text"
                                                                       placeholder="Nhập số đăng kí kinh doanh"
                                                                       class="form-control"><div
                  class="invalid-feedback">  </div></span>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12"><label>Ngày cấp</label>
              <input type="date" name="" id="" class="form-control">
            </div>
            <div class="col-md-6 col-12">
              <div role="group" class="form-group">
                <!---->
                <div><span><label>Nơi cấp </label><input id="formrow-firstname-input" type="text" placeholder="Nơi cấp"
                                                         class="form-control"><div
                  class="invalid-feedback">  </div></span>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-solid pb-4">
  <div class="row">
    <div class="col-md-4 col-12">
      <h5><b>Địa chỉ doanh nghiệp</b></h5>
      <p>Thông tin được sử dụng trong các thông báo về đơn hàng và địa chỉ để liên hệ đến doanh nghiệp</p>
    </div>
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12">
              <div id="input-group-1" role="group" class="form-group">
                <!---->
                <div><label>Tỉnh/Thành phố</label>
                  <select name="" id="" class="form-select"></select>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6 col-12">
              <div id="input-group-1" role="group" class="form-group">
                <!---->
                <div><label>Quận/Huyện</label>
                  <select name="" id="" class="form-select"></select>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div id="input-group-1" role="group" class="form-group">
                <!---->
                <div><label>Phường/Xã</label>
                  <select name="" id="" class="form-select"></select>
                  <!---->
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <div role="group" class="form-group">
                <!---->
                <div><span><label>Địa chỉ cụ thể<sup class="text-danger"> * </sup></label><textarea
                  id="formrow-address-input" name="textarea" placeholder="Nhập địa chỉ" rows="3" wrap="soft"
                  class="form-control form-control is-valid"></textarea><div class="invalid-feedback">  </div></span>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12"></div>
  </div>
  <hr class="hr-solid pb-4">
  <div class="row pb-5 mb-5">
    <div class="col-md-4 col-12">
      <h5><b>Thông tin tài khoản</b></h5>
      <p>Các thông tin về tài khoản</p>
    </div>
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 row">
              <label class="col-form-label col-lg-3 font-size-14 font-weight-bold">Địa chỉ đăng nhập</label>
              <div class="col-lg-9"><span>: https://nextgo.vn/s/datn-fpt-2</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 row">
              <label class="col-form-label col-lg-3 font-size-14 font-weight-bold">Ngày tạo</label>
              <div class="col-lg-9"><span>: 20/11/2023 </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="footer-custom">
        <div class="d-flex align-items-center justify-content-end px-1">
          <button type="submit" class="btn btn-primary"> Cập nhật</button>
        </div>
      </div>
    </div>
  </div>
</div>
