<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Kho & Tồn</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tồn kho</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Quản lí tồn kho</h6>
        <!-- <button routerLink="/storage/import/create" type="button" class="btn btn-primary">
          Thêm mới đơn nhập
        </button> -->
        <div class="table-responsive">
          <!-- <div *ngIf="isLoading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div> -->
          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>TÊN PHIÊN BẢN</th>
                <th>NGÀY KHỞI TẠO</th>
                <th>BARCODE</th>
                <th>MÃ SKU</th>
                <th>GIÁ NHẬP</th>
                <th>TỒN KHO</th>
                <th>GIÁ TRỊ TỒN KHO</th>
                <th>HÀNH ĐỘNG</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let value of inventoryStorageList | async">
                <td>{{value.product_name_variation}}</td>
                <td>{{ value.created_at | date:'dd/MM/yyyy' }}</td>
                <td>{{ value.barcode }}</td>
                <td>{{ value.sku }}</td>
                <td>{{ value.price_import }}</td>
                <td>{{ value.variation_quantities != '' ? value.variation_quantities[0].quantity : 0 }}</td>
                <td *ngIf="value.variation_quantities != '' ">{{calculator(value.price_import, value.variation_quantities[0].quantity) | currency : "VNĐ " : "symbol" : "1.0-0"}}</td>
                <td *ngIf="value.variation_quantities == '' ">0</td>
                <td >

                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger lg modal -->
<input type="button" class="btn btn-primary" (click)="openLgModal(lgModal)" value="abc">
                  <ng-template #lgModal let-modal>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
                      <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Save changes</button>
                    </div>
                  </ng-template>
<!-- Modal -->

